{
  "admin/**/*.{js,jsx,json}": [
    "prettier-eslint --list-different --prettier-last --write",
    "git add"
  ],
  "client/**/*.{js,jsx,json,scss}": [
    "prettier-eslint --list-different --prettier-last --write",
    "git add"
  ],
  "server/**/*.{js,json,yml}": [
    "prettier-eslint --list-different --prettier-last --write",
    "git add"
  ]
}
