$image-path: '../_images';
$image-path1: $image-path;

@import 'bootstrap/scss/_variables';
@import '_mdb_colors';
@import 'mdbootstrap/scss/core/bootstrap/_variables';
@import 'mdbootstrap/scss/core/_variables';

$navbar-height: $navbar-brand-height +
  ($navbar-brand-padding-y + $navbar-padding-y) * 2;

$footer-height: $spacer * 3.3;
